@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");

body {
    background-color: rgb(245, 186, 245);
    font-family: 'Teko', sans-serif;
}

.tiles div {
    width:  5vh;
    height: 5vh;
    margin-right: 1%;
    display: inline-block;
    background-color: blue;
  }

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
  }

#btn {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1.5em;
    background-color: rgb(34, 41, 47);
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: linear 0.3s;
    font-family: 'Teko', sans-serif;
  }
  
  #btn:hover {
    background-color: rgb(241, 238, 37);
    color: #333;
  }

  