@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap");

:root {
    /*  colors  */
      --main-background: rgb(28, 34, 39);
      --sub-background: rgb(45, 56, 65);
      --tile-background: rgba(227, 255, 241, 0.877);
      --highlight: #db7a0a;

    }

body {
    background: var(--sub-background);
    color: rgba(240, 255, 247, 0.877);
    width: 100%;
    height: 100%; 
}

header-stats {
    font-size: 50px;
    width: 100%;
}

h1 {
    font-family: 'Teko', sans-serif;
    font-size: 4.3em;
    text-align: center;
    margin: 50px 0 0 0;
    color: rgb(246, 255, 250);
}
span {
    color: #0ec79f;
    font-family: 'Teko', sans-serif;
}

h2 {
    font-size: 1.3em;
    text-align: center;
    margin: 0 0 50px 0;
    font-family: 'Cabin', sans-serif;
}

p {
    text-align: center;
    font-size: 1.3em;
    margin: 0 0 20px 0;
    font-family: 'Cabin', sans-serif;
}
#timer {
    text-align: center;
    font-size: 2em;
    margin: 0 0 30px 0;
    font-family: 'Cabin', sans-serif;
}


#btn {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 2.2em;
    background-color: var(--main-background);
    cursor: pointer;
    text-transform: uppercase;
    transition: linear 0.3s;
    font-family: 'Teko', sans-serif;
    border-radius: 12px;
    
  }
  
  #btn:hover {
    background-color: var(--highlight);
    color: #333;
    
  }

  /* TBD */
#tile-board {
    margin: auto;
    perspective: 1000px;
    transition: transform .5s;
}


.front-tile {
    color: #059273;
    margin: auto;
    padding: 2px 2px;
    backface-visibility: hidden;
   
}

/* .front-face{
    transform: rotateY(180deg);
} */

.tdCell {
    width:  90px;
    height: 82px;
    margin-right: 1%;
    text-align: center;
    background-color: var(--tile-background); 
    color: #169e81;
    border-radius: 12px;
    transition: all 0.2s ease-in-out;
    transform: scale(1) rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform .5s;
  }

.tdCell:hover {
    box-shadow: 1px 1px var(--highlight), 3px 3px var(--highlight), 5px 5px var(--highlight);
    transform: translateX(-5px) rotateY(180deg); 
    background: var(--main-background);
    cursor: pointer;  
}


.tdCell.flipped {
    transform: rotateY(0deg);
    transform: scale(0.87);
    transition: transform .6s;
}

.tdCell.matched {
<<<<<<< HEAD
    /* color: #9e166588; */
    background-color: #db7a0a;
=======
    color: #db7a0a;
    background-color: rgba(170, 14, 123, 0.582);
>>>>>>> master
}
       
footer {
    text-align: center;
    font-size: 1.3em;
    position: relative;
    margin: 35px 0;
    font-family: 'Cabin', sans-serif;
}

  

  